<a href="https://colab.research.google.com/github/codebuzer/Bioactivity-Prediction-App/blob/main/dataectraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from yaml import safe_load
import os
from tqdm import tqdm

In [2]:
filenames = []
for file in os.listdir('/content/drive/MyDrive/data_t20'):
    filenames.append(os.path.join('/content/drive/MyDrive/data_t20',file))

In [3]:
filenames[404:405]

['/content/drive/MyDrive/data_t20/685727.yaml']

In [4]:
final_df = pd.DataFrame()
counter = 1
for file in tqdm(filenames):
    with open(file, 'r') as f:
        df = pd.json_normalize(safe_load(f))
        df['match_id'] = counter
        final_df = final_df.append(df)
        counter+=1
        
final_df

100%|██████████| 1432/1432 [07:49<00:00,  3.05it/s]

,innings,meta.data_version,meta.created,meta.revision,info.city,info.dates,info.gender,info.match_type,info.match_type_number,info.outcome.winner,...,info.player_of_match,info.umpires,info.outcome.method,info.neutral_venue,info.outcome.result,info.outcome.eliminator,info.supersubs.New Zealand,info.supersubs.South Africa,info.bowl_out,info.outcome.bowl_out
0,"[{'1st innings': {'team': 'Germany', 'deliveri...",0.9,2020-03-16,1,Almeria,[2020-03-08],male,T20,1081.0,Germany,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Malaysia', 'deliver...",0.9,2019-07-29,1,Singapore,[2019-07-27],male,T20,839.0,Qatar,...,[Nouman Sarwar],"[Tabarak Dar, BB Pradhan]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2020-07-06,1,Colombo,[2018-03-16],male,T20,661.0,Bangladesh,...,[Mahmudullah],"[RR Wimalasiri, RSA Palliyaguruge]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Sierra Leone', 'del...",0.9,2020-06-24,1,Gaborone,[2018-08-24],female,T20,483.0,Sierra Leone,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,[{'1st innings': {'team': 'United Arab Emirate...,0.9,2019-10-29,1,Dubai,[2019-10-29],male,T20,986.0,Netherlands,...,[BD Glover],"[LE Hannibal, R Black]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.9,2020-03-01,1,Bangkok,[2020-03-01],male,T20,1069.0,Hong Kong,...,[Haroon Arshad],"[Arif Ansari, V Kalidas]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'New Zealand', 'deli...",0.9,2020-10-05,1,Brisbane,[2020-09-27],female,T20,876.0,Australia,...,[S Molineux],"[BNJ Oxenford, MW Graham-Smith]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Botswana', 'deliver...",0.9,2020-01-01,1,Windhoek,[2019-04-01],female,T20,605.0,Namibia,...,NaN,"[Hannes van Vuuren, Hein Heydenrych]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Ghana', 'deliveries...",0.9,2019-08-27,1,Kampala,[2019-05-23],male,T20,785.0,Uganda,...,[Riazat Ali Shah],"[A Louw, D Odhiambo]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'India', 'deliveries...",0.9,2020-02-09,1,Wellington,[2020-01-31],male,T20,1036.0,NaN,...,[SN Thakur],"[CM Brown, SB Haig]",NaN,NaN,tie,India,NaN,NaN,NaN,NaN

In [5]:
backup = final_df.copy()

In [6]:
final_df

,innings,meta.data_version,meta.created,meta.revision,info.city,info.dates,info.gender,info.match_type,info.match_type_number,info.outcome.winner,...,info.player_of_match,info.umpires,info.outcome.method,info.neutral_venue,info.outcome.result,info.outcome.eliminator,info.supersubs.New Zealand,info.supersubs.South Africa,info.bowl_out,info.outcome.bowl_out
0,"[{'1st innings': {'team': 'Germany', 'deliveri...",0.9,2020-03-16,1,Almeria,[2020-03-08],male,T20,1081.0,Germany,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Malaysia', 'deliver...",0.9,2019-07-29,1,Singapore,[2019-07-27],male,T20,839.0,Qatar,...,[Nouman Sarwar],"[Tabarak Dar, BB Pradhan]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2020-07-06,1,Colombo,[2018-03-16],male,T20,661.0,Bangladesh,...,[Mahmudullah],"[RR Wimalasiri, RSA Palliyaguruge]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Sierra Leone', 'del...",0.9,2020-06-24,1,Gaborone,[2018-08-24],female,T20,483.0,Sierra Leone,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,[{'1st innings': {'team': 'United Arab Emirate...,0.9,2019-10-29,1,Dubai,[2019-10-29],male,T20,986.0,Netherlands,...,[BD Glover],"[LE Hannibal, R Black]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.9,2020-03-01,1,Bangkok,[2020-03-01],male,T20,1069.0,Hong Kong,...,[Haroon Arshad],"[Arif Ansari, V Kalidas]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'New Zealand', 'deli...",0.9,2020-10-05,1,Brisbane,[2020-09-27],female,T20,876.0,Australia,...,[S Molineux],"[BNJ Oxenford, MW Graham-Smith]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Botswana', 'deliver...",0.9,2020-01-01,1,Windhoek,[2019-04-01],female,T20,605.0,Namibia,...,NaN,"[Hannes van Vuuren, Hein Heydenrych]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Ghana', 'deliveries...",0.9,2019-08-27,1,Kampala,[2019-05-23],male,T20,785.0,Uganda,...,[Riazat Ali Shah],"[A Louw, D Odhiambo]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'India', 'deliveries...",0.9,2020-02-09,1,Wellington,[2020-01-31],male,T20,1036.0,NaN,...,[SN Thakur],"[CM Brown, SB Haig]",NaN,NaN,tie,India,NaN,NaN,NaN,NaN

In [7]:
final_df.drop(columns=[
    'meta.data_version',
    'meta.created',
    'meta.revision',
    'info.outcome.bowl_out',
    'info.bowl_out',
    'info.supersubs.South Africa',
    'info.supersubs.New Zealand',
    'info.outcome.eliminator',
    'info.outcome.result',
    'info.outcome.method',
    'info.neutral_venue',
    'info.match_type_number',
    'info.outcome.by.runs',
    'info.outcome.by.wickets'
],inplace=True)

In [8]:
final_df

,innings,info.city,info.dates,info.gender,info.match_type,info.outcome.winner,info.overs,info.teams,info.toss.decision,info.toss.winner,info.venue,match_id,info.player_of_match,info.umpires
0,"[{'1st innings': {'team': 'Germany', 'deliveri...",Almeria,[2020-03-08],male,T20,Germany,20,"[Spain, Germany]",field,Spain,Desert Springs Cricket Ground,1,NaN,NaN
0,"[{'1st innings': {'team': 'Malaysia', 'deliver...",Singapore,[2019-07-27],male,T20,Qatar,20,"[Malaysia, Qatar]",bat,Malaysia,Indian Association Ground,2,[Nouman Sarwar],"[Tabarak Dar, BB Pradhan]"
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",Colombo,[2018-03-16],male,T20,Bangladesh,20,"[Sri Lanka, Bangladesh]",field,Bangladesh,"R.Premadasa Stadium, Khettarama",3,[Mahmudullah],"[RR Wimalasiri, RSA Palliyaguruge]"
0,"[{'1st innings': {'team': 'Sierra Leone', 'del...",Gaborone,[2018-08-24],female,T20,Sierra Leone,20,"[Sierra Leone, Lesotho]",bat,Sierra Leone,Botswana Cricket Association Oval 1,4,NaN,NaN
0,[{'1st innings': {'team': 'United Arab Emirate...,Dubai,[2019-10-29],male,T20,Netherlands,20,"[United Arab Emirates, Netherlands]",bat,United Arab Emirates,Dubai International Cricket Stadium,5,[BD Glover],"[LE Hannibal, R Black]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",Bangkok,[2020-03-01],male,T20,Hong Kong,20,"[Hong Kong, Nepal]",field,Nepal,Terdthai Cricket Ground,1428,[Haroon Arshad],"[Arif Ansari, V Kalidas]"
0,"[{'1st innings': {'team': 'New Zealand', 'deli...",Brisbane,[2020-09-27],female,T20,Australia,20,"[New Zealand, Australia]",bat,New Zealand,Allan Border Field,1429,[S Molineux],"[BNJ Oxenford, MW Graham-Smith]"
0,"[{'1st innings': {'team': 'Botswana', 'deliver...",Windhoek,[2019-04-01],female,T20,Namibia,20,"[Namibia, Botswana]",field,Namibia,United Cricket Club Ground,1430,NaN,"[Hannes van Vuuren, Hein Heydenrych]"
0,"[{'1st innings': {'team': 'Ghana', 'deliveries...",Kampala,[2019-05-23],male,T20,Uganda,20,"[Uganda, Ghana]",bat,Ghana,Kyambogo Cricket Oval,1431,[Riazat Ali Shah],"[A Louw, D Odhiambo]"
0,"[{'1st innings': {'team': 'India', 'deliveries...",Wellington,[2020-01-31],male,T20,NaN,20,"[New Zealand, India]",field,New Zealand,Westpac Stadium,1432,[SN Thakur],"[CM Brown, SB Haig]"

In [9]:
final_df['info.gender'].value_counts()

male      966
female    466
Name: info.gender, dtype: int64

In [10]:
final_df = final_df[final_df['info.gender'] == 'male']
final_df.drop(columns=['info.gender'],inplace=True)
final_df

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,innings,info.city,info.dates,info.match_type,info.outcome.winner,info.overs,info.teams,info.toss.decision,info.toss.winner,info.venue,match_id,info.player_of_match,info.umpires
0,"[{'1st innings': {'team': 'Germany', 'deliveri...",Almeria,[2020-03-08],T20,Germany,20,"[Spain, Germany]",field,Spain,Desert Springs Cricket Ground,1,NaN,NaN
0,"[{'1st innings': {'team': 'Malaysia', 'deliver...",Singapore,[2019-07-27],T20,Qatar,20,"[Malaysia, Qatar]",bat,Malaysia,Indian Association Ground,2,[Nouman Sarwar],"[Tabarak Dar, BB Pradhan]"
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",Colombo,[2018-03-16],T20,Bangladesh,20,"[Sri Lanka, Bangladesh]",field,Bangladesh,"R.Premadasa Stadium, Khettarama",3,[Mahmudullah],"[RR Wimalasiri, RSA Palliyaguruge]"
0,[{'1st innings': {'team': 'United Arab Emirate...,Dubai,[2019-10-29],T20,Netherlands,20,"[United Arab Emirates, Netherlands]",bat,United Arab Emirates,Dubai International Cricket Stadium,5,[BD Glover],"[LE Hannibal, R Black]"
0,"[{'1st innings': {'team': 'West Indies', 'deli...",St Kitts,[2017-06-03],T20,West Indies,20,"[West Indies, Afghanistan]",bat,West Indies,"Warner Park, Basseterre",7,[KOK Williams],"[GO Brathwaite, JS Wilson]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",Brisbane,[2019-10-30],T20,Australia,20,"[Australia, Sri Lanka]",bat,Sri Lanka,"Brisbane Cricket Ground, Woolloongabba",1423,[DA Warner],"[P Wilson, GA Abood]"
0,"[{'1st innings': {'team': 'Nigeria', 'deliveri...",Abu Dhabi,[2019-10-26],T20,Ireland,20,"[Ireland, Nigeria]",bat,Nigeria,Sheikh Zayed Stadium,1425,[CA Young],"[CM Brown, Ahmed Shah Pakteen]"
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",Bangkok,[2020-03-01],T20,Hong Kong,20,"[Hong Kong, Nepal]",field,Nepal,Terdthai Cricket Ground,1428,[Haroon Arshad],"[Arif Ansari, V Kalidas]"
0,"[{'1st innings': {'team': 'Ghana', 'deliveries...",Kampala,[2019-05-23],T20,Uganda,20,"[Uganda, Ghana]",bat,Ghana,Kyambogo Cricket Oval,1431,[Riazat Ali Shah],"[A Louw, D Odhiambo]"
0,"[{'1st innings': {'team': 'India', 'deliveries...",Wellington,[2020-01-31],T20,NaN,20,"[New Zealand, India]",field,New Zealand,Westpac Stadium,1432,[SN Thakur],"[CM Brown, SB Haig]"

In [11]:
final_df['info.match_type'].value_counts()

T20    966
Name: info.match_type, dtype: int64

In [12]:
final_df['info.overs'].value_counts()

20    963
50      3
Name: info.overs, dtype: int64

In [13]:
final_df = final_df[final_df['info.overs'] == 20]
final_df.drop(columns=['info.overs','info.match_type'],inplace=True)
final_df

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,innings,info.city,info.dates,info.outcome.winner,info.teams,info.toss.decision,info.toss.winner,info.venue,match_id,info.player_of_match,info.umpires
0,"[{'1st innings': {'team': 'Germany', 'deliveri...",Almeria,[2020-03-08],Germany,"[Spain, Germany]",field,Spain,Desert Springs Cricket Ground,1,NaN,NaN
0,"[{'1st innings': {'team': 'Malaysia', 'deliver...",Singapore,[2019-07-27],Qatar,"[Malaysia, Qatar]",bat,Malaysia,Indian Association Ground,2,[Nouman Sarwar],"[Tabarak Dar, BB Pradhan]"
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",Colombo,[2018-03-16],Bangladesh,"[Sri Lanka, Bangladesh]",field,Bangladesh,"R.Premadasa Stadium, Khettarama",3,[Mahmudullah],"[RR Wimalasiri, RSA Palliyaguruge]"
0,[{'1st innings': {'team': 'United Arab Emirate...,Dubai,[2019-10-29],Netherlands,"[United Arab Emirates, Netherlands]",bat,United Arab Emirates,Dubai International Cricket Stadium,5,[BD Glover],"[LE Hannibal, R Black]"
0,"[{'1st innings': {'team': 'West Indies', 'deli...",St Kitts,[2017-06-03],West Indies,"[West Indies, Afghanistan]",bat,West Indies,"Warner Park, Basseterre",7,[KOK Williams],"[GO Brathwaite, JS Wilson]"
...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",Brisbane,[2019-10-30],Australia,"[Australia, Sri Lanka]",bat,Sri Lanka,"Brisbane Cricket Ground, Woolloongabba",1423,[DA Warner],"[P Wilson, GA Abood]"
0,"[{'1st innings': {'team': 'Nigeria', 'deliveri...",Abu Dhabi,[2019-10-26],Ireland,"[Ireland, Nigeria]",bat,Nigeria,Sheikh Zayed Stadium,1425,[CA Young],"[CM Brown, Ahmed Shah Pakteen]"
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",Bangkok,[2020-03-01],Hong Kong,"[Hong Kong, Nepal]",field,Nepal,Terdthai Cricket Ground,1428,[Haroon Arshad],"[Arif Ansari, V Kalidas]"
0,"[{'1st innings': {'team': 'Ghana', 'deliveries...",Kampala,[2019-05-23],Uganda,"[Uganda, Ghana]",bat,Ghana,Kyambogo Cricket Oval,1431,[Riazat Ali Shah],"[A Louw, D Odhiambo]"
0,"[{'1st innings': {'team': 'India', 'deliveries...",Wellington,[2020-01-31],NaN,"[New Zealand, India]",field,New Zealand,Westpac Stadium,1432,[SN Thakur],"[CM Brown, SB Haig]"

In [14]:
import pickle
pickle.dump(final_df,open('dataset_level1.pkl','wb'))

In [16]:
matches = pickle.load(open('dataset_level1.pkl','rb'))
matches.iloc[0]['innings'][0]['1st innings']['deliveries']

[{0.1: {'bowler': 'R Panchal',
   'runs': {'extras': 0, 'total': 2, 'batsman': 2},
   'non_striker': 'Abdul-Shakoor Rahimzei',
   'batsman': 'VB Chikkannaiah'}},
 {0.2: {'bowler': 'R Panchal',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'non_striker': 'Abdul-Shakoor Rahimzei',
   'batsman': 'VB Chikkannaiah'}},
 {0.3: {'bowler': 'R Panchal',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'non_striker': 'Abdul-Shakoor Rahimzei',
   'batsman': 'VB Chikkannaiah'}},
 {0.4: {'bowler': 'R Panchal',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'non_striker': 'Abdul-Shakoor Rahimzei',
   'batsman': 'VB Chikkannaiah'}},
 {0.5: {'bowler': 'R Panchal',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'non_striker': 'Abdul-Shakoor Rahimzei',
   'batsman': 'VB Chikkannaiah'}},
 {0.6: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'R Panchal',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {1.1: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'Raja Adeel',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'VB Chikkannaiah'}},
 {1.2: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'Raja Adeel',
   'runs': {'extras': 0, 'total': 2, 'batsman': 2},
   'batsman': 'VB Chikkannaiah'}},
 {1.3: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'Raja Adeel',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'VB Chikkannaiah'}},
 {1.4: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'Raja Adeel',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'VB Chikkannaiah'}},
 {1.5: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'Raja Adeel',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'VB Chikkannaiah'}},
 {1.6: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'Raja Adeel',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'VB Chikkannaiah'}},
 {2.1: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'R Panchal',
   'runs': {'extras': 0, 'total': 6, 'batsman': 6},
   'batsman': 'VB Chikkannaiah'}},
 {2.2: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'R Panchal',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'VB Chikkannaiah'}},
 {2.3: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'R Panchal',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'VB Chikkannaiah'}},
 {2.4: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'R Panchal',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'VB Chikkannaiah'}},
 {2.5: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'R Panchal',
   'runs': {'extras': 1, 'total': 1, 'batsman': 0},
   'extras': {'legbyes': 1},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {2.6: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'R Panchal',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'VB Chikkannaiah'}},
 {3.1: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'Raja Adeel',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'VB Chikkannaiah'}},
 {3.2: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'Raja Adeel',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'VB Chikkannaiah'}},
 {3.3: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'Raja Adeel',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {3.4: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'Raja Adeel',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {3.5: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'Raja Adeel',
   'runs': {'extras': 0, 'total': 2, 'batsman': 2},
   'batsman': 'VB Chikkannaiah'}},
 {3.6: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'Raja Adeel',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'VB Chikkannaiah'}},
 {4.1: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'R Panchal',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'VB Chikkannaiah'}},
 {4.2: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'R Panchal',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {4.3: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'R Panchal',
   'runs': {'extras': 0, 'total': 3, 'batsman': 3},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {4.4: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'R Panchal',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'VB Chikkannaiah'}},
 {4.5: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'R Panchal',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {4.6: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'R Panchal',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {5.1: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'Raja Adeel',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'VB Chikkannaiah'}},
 {5.2: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'Raja Adeel',
   'runs': {'extras': 0, 'total': 2, 'batsman': 2},
   'batsman': 'VB Chikkannaiah'}},
 {5.3: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'Raja Adeel',
   'runs': {'extras': 0, 'total': 3, 'batsman': 3},
   'batsman': 'VB Chikkannaiah'}},
 {5.4: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'Raja Adeel',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {5.5: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'Raja Adeel',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {5.6: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'Raja Adeel',
   'runs': {'extras': 0, 'total': 4, 'batsman': 4},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {6.1: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'R Panchal',
   'runs': {'extras': 0, 'total': 2, 'batsman': 2},
   'batsman': 'VB Chikkannaiah'}},
 {6.2: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'R Panchal',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'VB Chikkannaiah'}},
 {6.3: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'R Panchal',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {6.4: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'R Panchal',
   'runs': {'extras': 0, 'total': 2, 'batsman': 2},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {6.5: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'R Panchal',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {6.6: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'R Panchal',
   'runs': {'extras': 0, 'total': 6, 'batsman': 6},
   'batsman': 'VB Chikkannaiah'}},
 {7.1: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'Yasir Ali',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {7.2: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'Yasir Ali',
   'runs': {'extras': 0, 'total': 2, 'batsman': 2},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {7.3: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'Yasir Ali',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {7.4: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'Yasir Ali',
   'runs': {'extras': 0, 'total': 2, 'batsman': 2},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {7.5: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'Yasir Ali',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {7.6: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'Yasir Ali',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'VB Chikkannaiah'}},
 {8.1: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'Tauqeer Hussain',
   'runs': {'extras': 0, 'total': 4, 'batsman': 4},
   'batsman': 'VB Chikkannaiah'}},
 {8.2: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'Tauqeer Hussain',
   'runs': {'extras': 1, 'total': 1, 'batsman': 0},
   'extras': {'byes': 1},
   'batsman': 'VB Chikkannaiah'}},
 {8.3: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'Tauqeer Hussain',
   'runs': {'extras': 0, 'total': 4, 'batsman': 4},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {8.4: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'Tauqeer Hussain',
   'runs': {'extras': 0, 'total': 2, 'batsman': 2},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {8.5: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'Tauqeer Hussain',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {8.6: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'Tauqeer Hussain',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {9.1: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'Yasir Ali',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {9.2: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'Yasir Ali',
   'runs': {'extras': 0, 'total': 2, 'batsman': 2},
   'batsman': 'VB Chikkannaiah'}},
 {9.3: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'Yasir Ali',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'VB Chikkannaiah'}},
 {9.4: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'Yasir Ali',
   'runs': {'extras': 1, 'total': 1, 'batsman': 0},
   'extras': {'byes': 1},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {9.5: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'Yasir Ali',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'VB Chikkannaiah'}},
 {9.6: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'Yasir Ali',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'VB Chikkannaiah'}},
 {10.1: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'J Perman',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'VB Chikkannaiah'}},
 {10.2: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'J Perman',
   'runs': {'extras': 0, 'total': 4, 'batsman': 4},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {10.3: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'J Perman',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {10.4: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'J Perman',
   'runs': {'extras': 1, 'total': 1, 'batsman': 0},
   'extras': {'wides': 1},
   'batsman': 'VB Chikkannaiah'}},
 {10.5: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'J Perman',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'VB Chikkannaiah'}},
 {10.6: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'J Perman',
   'runs': {'extras': 0, 'total': 4, 'batsman': 4},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {10.7: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'J Perman',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {11.1: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'Yasir Ali',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'VB Chikkannaiah'}},
 {11.2: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'Yasir Ali',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {11.3: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'Yasir Ali',
   'runs': {'extras': 0, 'total': 4, 'batsman': 4},
   'batsman': 'VB Chikkannaiah'}},
 {11.4: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'Yasir Ali',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'VB Chikkannaiah'}},
 {11.5: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'Yasir Ali',
   'runs': {'extras': 0, 'total': 2, 'batsman': 2},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {11.6: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'Yasir Ali',
   'runs': {'extras': 5, 'total': 5, 'batsman': 0},
   'extras': {'wides': 5},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {11.7: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'Yasir Ali',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {12.1: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'J Perman',
   'runs': {'extras': 0, 'total': 6, 'batsman': 6},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {12.2: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'J Perman',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {12.3: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'J Perman',
   'runs': {'extras': 1, 'total': 1, 'batsman': 0},
   'extras': {'wides': 1},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {12.4: {'non_striker': 'VB Chikkannaiah',
   'bowler': 'J Perman',
   'runs': {'extras': 1, 'total': 1, 'batsman': 0},
   'extras': {'legbyes': 1},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {12.5: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'J Perman',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'VB Chikkannaiah'}},
 {12.6: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'J Perman',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'VB Chikkannaiah'}},
 {12.7: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'J Perman',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'VB Chikkannaiah',
   'wicket': {'player_out': 'VB Chikkannaiah',
    'fielders': ['Tauqeer Hussain'],
    'kind': 'caught'}}},
 {13.1: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'TC Vine',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'MJ Richardson'}},
 {13.2: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'TC Vine',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'MJ Richardson'}},
 {13.3: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'TC Vine',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'MJ Richardson'}},
 {13.4: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'TC Vine',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'MJ Richardson'}},
 {13.5: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'TC Vine',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'MJ Richardson'}},
 {13.6: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'TC Vine',
   'runs': {'extras': 0, 'total': 4, 'batsman': 4},
   'batsman': 'MJ Richardson'}},
 {14.1: {'non_striker': 'MJ Richardson',
   'bowler': 'J Perman',
   'runs': {'extras': 1, 'total': 1, 'batsman': 0},
   'extras': {'wides': 1},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {14.2: {'non_striker': 'MJ Richardson',
   'bowler': 'J Perman',
   'runs': {'extras': 0, 'total': 3, 'batsman': 3},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {14.3: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'J Perman',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'MJ Richardson'}},
 {14.4: {'non_striker': 'MJ Richardson',
   'bowler': 'J Perman',
   'runs': {'extras': 0, 'total': 6, 'batsman': 6},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {14.5: {'non_striker': 'MJ Richardson',
   'bowler': 'J Perman',
   'runs': {'extras': 0, 'total': 2, 'batsman': 2},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {14.6: {'non_striker': 'MJ Richardson',
   'bowler': 'J Perman',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {14.7: {'non_striker': 'Abdul-Shakoor Rahimzei',
   'bowler': 'J Perman',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'MJ Richardson'}},
 {15.1: {'non_striker': 'MJ Richardson',
   'bowler': 'TC Vine',
   'runs': {'extras': 0, 'total': 4, 'batsman': 4},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {15.2: {'non_striker': 'MJ Richardson',
   'bowler': 'TC Vine',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {15.3: {'non_striker': 'MJ Richardson',
   'bowler': 'TC Vine',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {15.4: {'non_striker': 'MJ Richardson',
   'bowler': 'TC Vine',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'Abdul-Shakoor Rahimzei'}},
 {15.5: {'non_striker': 'MJ Richardson',
   'bowler': 'TC Vine',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'Abdul-Shakoor Rahimzei',
   'wicket': {'player_out': 'Abdul-Shakoor Rahimzei', 'kind': 'bowled'}}},
 {15.6: {'non_striker': 'MJ Richardson',
   'bowler': 'TC Vine',
   'runs': {'extras': 0, 'total': 2, 'batsman': 2},
   'batsman': 'H Singh'}},
 {16.1: {'non_striker': 'H Singh',
   'bowler': 'Kuldeep Lal',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'MJ Richardson'}},
 {16.2: {'non_striker': 'MJ Richardson',
   'bowler': 'Kuldeep Lal',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'H Singh',
   'wicket': {'player_out': 'H Singh', 'kind': 'bowled'}}},
 {16.3: {'non_striker': 'MJ Richardson',
   'bowler': 'Kuldeep Lal',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'D Klein'}},
 {16.4: {'non_striker': 'MJ Richardson',
   'bowler': 'Kuldeep Lal',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'D Klein'}},
 {16.5: {'non_striker': 'D Klein',
   'bowler': 'Kuldeep Lal',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'MJ Richardson'}},
 {16.6: {'non_striker': 'D Klein',
   'bowler': 'Kuldeep Lal',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'MJ Richardson'}},
 {17.1: {'non_striker': 'MJ Richardson',
   'bowler': 'TC Vine',
   'runs': {'extras': 0, 'total': 2, 'batsman': 2},
   'batsman': 'D Klein'}},
 {17.2: {'non_striker': 'MJ Richardson',
   'bowler': 'TC Vine',
   'runs': {'extras': 0, 'total': 2, 'batsman': 2},
   'batsman': 'D Klein'}},
 {17.3: {'non_striker': 'MJ Richardson',
   'bowler': 'TC Vine',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'D Klein'}},
 {17.4: {'non_striker': 'D Klein',
   'bowler': 'TC Vine',
   'runs': {'extras': 0, 'total': 4, 'batsman': 4},
   'batsman': 'MJ Richardson'}},
 {17.5: {'non_striker': 'D Klein',
   'bowler': 'TC Vine',
   'runs': {'extras': 0, 'total': 4, 'batsman': 4},
   'batsman': 'MJ Richardson'}},
 {17.6: {'non_striker': 'D Klein',
   'bowler': 'TC Vine',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'MJ Richardson'}},
 {18.1: {'non_striker': 'MJ Richardson',
   'bowler': 'Kuldeep Lal',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'D Klein'}},
 {18.2: {'non_striker': 'D Klein',
   'bowler': 'Kuldeep Lal',
   'runs': {'extras': 0, 'total': 6, 'batsman': 6},
   'batsman': 'MJ Richardson'}},
 {18.3: {'non_striker': 'D Klein',
   'bowler': 'Kuldeep Lal',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'MJ Richardson'}},
 {18.4: {'non_striker': 'MJ Richardson',
   'bowler': 'Kuldeep Lal',
   'runs': {'extras': 0, 'total': 4, 'batsman': 4},
   'batsman': 'D Klein'}},
 {18.5: {'non_striker': 'MJ Richardson',
   'bowler': 'Kuldeep Lal',
   'runs': {'extras': 0, 'total': 1, 'batsman': 1},
   'batsman': 'D Klein'}},
 {18.6: {'non_striker': 'D Klein',
   'bowler': 'Kuldeep Lal',
   'runs': {'extras': 0, 'total': 4, 'batsman': 4},
   'batsman': 'MJ Richardson'}},
 {19.1: {'non_striker': 'MJ Richardson',
   'bowler': 'TC Vine',
   'runs': {'extras': 0, 'total': 4, 'batsman': 4},
   'batsman': 'D Klein'}},
 {19.2: {'non_striker': 'MJ Richardson',
   'bowler': 'TC Vine',
   'runs': {'extras': 0, 'total': 0, 'batsman': 0},
   'batsman': 'D Klein'}},
 {19.3: {'non_striker': 'MJ Richardson',
   'bowler': 'TC Vine',
   'runs': {'extras': 0, 'total': 6, 'batsman': 6},
   'batsman': 'D Klein'}},
 {19.4: {'non_striker': 'MJ Richardson',
   'bowler': 'TC Vine',
   'runs': {'extras': 0, 'total': 6, 'batsman': 6},
   'batsman': 'D Klein'}},
 {19.5: {'non_striker': 'MJ Richardson',
   'bowler': 'TC Vine',
   'runs': {'extras': 0, 'total': 2, 'batsman': 2},

In [17]:
count = 1
delivery_df = pd.DataFrame()
for index, row in matches.iterrows():
    if count in [75,108,150,180,268,360,443,458,584,748,982,1052,1111,1226,1345]:
        count+=1
        continue
    count+=1
    ball_of_match = []
    batsman = []
    bowler = []
    runs = []
    player_of_dismissed = []
    teams = []
    batting_team = []
    match_id = []
    city = []
    venue = []
    for ball in row['innings'][0]['1st innings']['deliveries']:
        for key in ball.keys():
            match_id.append(count)
            batting_team.append(row['innings'][0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_of_match.append(key)
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            try:
                player_of_dismissed.append(ball[key]['wicket']['player_out'])
            except:
                player_of_dismissed.append('0')
    loop_df = pd.DataFrame({
            'match_id':match_id,
            'teams':teams,
            'batting_team':batting_team,
            'ball':ball_of_match,
            'batsman':batsman,
            'bowler':bowler,
            'runs':runs,
            'player_dismissed':player_of_dismissed,
            'city':city,
            'venue':venue
        })
    delivery_df = delivery_df.append(loop_df)

In [18]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,2,"[Spain, Germany]",Germany,0.1,VB Chikkannaiah,R Panchal,2,0,Almeria,Desert Springs Cricket Ground
1,2,"[Spain, Germany]",Germany,0.2,VB Chikkannaiah,R Panchal,0,0,Almeria,Desert Springs Cricket Ground
2,2,"[Spain, Germany]",Germany,0.3,VB Chikkannaiah,R Panchal,0,0,Almeria,Desert Springs Cricket Ground
3,2,"[Spain, Germany]",Germany,0.4,VB Chikkannaiah,R Panchal,0,0,Almeria,Desert Springs Cricket Ground
4,2,"[Spain, Germany]",Germany,0.5,VB Chikkannaiah,R Panchal,1,0,Almeria,Desert Springs Cricket Ground
...,...,...,...,...,...,...,...,...,...,...
122,964,"[New Zealand, India]",India,19.3,NA Saini,SC Kuggeleijn,1,0,Wellington,Westpac Stadium
123,964,"[New Zealand, India]",India,19.4,MK Pandey,SC Kuggeleijn,1,0,Wellington,Westpac Stadium
124,964,"[New Zealand, India]",India,19.5,MK Pandey,SC Kuggeleijn,2,0,Wellington,Westpac Stadium
125,964,"[New Zealand, India]",India,19.6,MK Pandey,SC Kuggeleijn,1,0,Wellington,Westpac Stadium
126,964,"[New Zealand, India]",India,19.7,NA Saini,SC Kuggeleijn,1,0,Wellington,Westpac Stadium

In [19]:
def bowl(row):
    for team in row['teams']:
        if team != row['batting_team']:
            return team

In [20]:
delivery_df['bowling_team'] = delivery_df.apply(bowl,axis=1)

In [21]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,"[Spain, Germany]",Germany,0.1,VB Chikkannaiah,R Panchal,2,0,Almeria,Desert Springs Cricket Ground,Spain
1,2,"[Spain, Germany]",Germany,0.2,VB Chikkannaiah,R Panchal,0,0,Almeria,Desert Springs Cricket Ground,Spain
2,2,"[Spain, Germany]",Germany,0.3,VB Chikkannaiah,R Panchal,0,0,Almeria,Desert Springs Cricket Ground,Spain
3,2,"[Spain, Germany]",Germany,0.4,VB Chikkannaiah,R Panchal,0,0,Almeria,Desert Springs Cricket Ground,Spain
4,2,"[Spain, Germany]",Germany,0.5,VB Chikkannaiah,R Panchal,1,0,Almeria,Desert Springs Cricket Ground,Spain
...,...,...,...,...,...,...,...,...,...,...,...
122,964,"[New Zealand, India]",India,19.3,NA Saini,SC Kuggeleijn,1,0,Wellington,Westpac Stadium,New Zealand
123,964,"[New Zealand, India]",India,19.4,MK Pandey,SC Kuggeleijn,1,0,Wellington,Westpac Stadium,New Zealand
124,964,"[New Zealand, India]",India,19.5,MK Pandey,SC Kuggeleijn,2,0,Wellington,Westpac Stadium,New Zealand
125,964,"[New Zealand, India]",India,19.6,MK Pandey,SC Kuggeleijn,1,0,Wellington,Westpac Stadium,New Zealand
126,964,"[New Zealand, India]",India,19.7,NA Saini,SC Kuggeleijn,1,0,Wellington,Westpac Stadium,New Zealand

In [22]:
delivery_df.drop(columns=['teams'],inplace=True)

In [23]:
delivery_df['batting_team'].unique()

array(['Germany', 'Malaysia', 'Sri Lanka', 'United Arab Emirates',
       'West Indies', 'England', 'India', 'Zimbabwe', 'Ireland', 'Kenya',
       'Afghanistan', 'Nepal', 'Pakistan', 'Australia', 'Bangladesh',
       'South Africa', 'New Zealand', 'Nigeria', 'Netherlands', 'Vanuatu',
       'Thailand', 'United States of America', 'Namibia',
       'Papua New Guinea', 'Oman', 'Norway', 'Singapore', 'Scotland',
       'Bermuda', 'Denmark', 'Gibraltar', 'Hong Kong', 'Jersey',
       'Cayman Islands', 'Qatar', 'Uganda', 'Philippines', 'Bulgaria',
       'Portugal', 'Maldives', 'Bhutan', 'Iran', 'Canada', 'Italy',
       'Guernsey', 'Spain', 'Belgium', 'Botswana', 'Ghana', 'Romania',
       'Kuwait', 'Isle of Man'], dtype=object)

In [24]:
teams = [
    'Australia',
    'India',
    'Bangladesh',
    'New Zealand',
    'South Africa',
    'England',
    'West Indies',
    'Afghanistan',
    'Pakistan',
    'Sri Lanka'    
]

In [25]:
delivery_df = delivery_df[delivery_df['batting_team'].isin(teams)]
delivery_df = delivery_df[delivery_df['bowling_team'].isin(teams)]

In [26]:
delivery_df

,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,4,Sri Lanka,0.1,MD Gunathilaka,Shakib Al Hasan,0,0,Colombo,"R.Premadasa Stadium, Khettarama",Bangladesh
1,4,Sri Lanka,0.2,MD Gunathilaka,Shakib Al Hasan,0,0,Colombo,"R.Premadasa Stadium, Khettarama",Bangladesh
2,4,Sri Lanka,0.3,MD Gunathilaka,Shakib Al Hasan,0,0,Colombo,"R.Premadasa Stadium, Khettarama",Bangladesh
3,4,Sri Lanka,0.4,MD Gunathilaka,Shakib Al Hasan,1,0,Colombo,"R.Premadasa Stadium, Khettarama",Bangladesh
4,4,Sri Lanka,0.5,BKG Mendis,Shakib Al Hasan,1,0,Colombo,"R.Premadasa Stadium, Khettarama",Bangladesh
...,...,...,...,...,...,...,...,...,...,...
122,964,India,19.3,NA Saini,SC Kuggeleijn,1,0,Wellington,Westpac Stadium,New Zealand
123,964,India,19.4,MK Pandey,SC Kuggeleijn,1,0,Wellington,Westpac Stadium,New Zealand
124,964,India,19.5,MK Pandey,SC Kuggeleijn,2,0,Wellington,Westpac Stadium,New Zealand
125,964,India,19.6,MK Pandey,SC Kuggeleijn,1,0,Wellington,Westpac Stadium,New Zealand
126,964,India,19.7,NA Saini,SC Kuggeleijn,1,0,Wellington,Westpac Stadium,New Zealand

In [27]:
output = delivery_df[['match_id','batting_team','bowling_team','ball','runs','player_dismissed','city','venue']]

In [28]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,4,Sri Lanka,Bangladesh,0.1,0,0,Colombo,"R.Premadasa Stadium, Khettarama"
1,4,Sri Lanka,Bangladesh,0.2,0,0,Colombo,"R.Premadasa Stadium, Khettarama"
2,4,Sri Lanka,Bangladesh,0.3,0,0,Colombo,"R.Premadasa Stadium, Khettarama"
3,4,Sri Lanka,Bangladesh,0.4,1,0,Colombo,"R.Premadasa Stadium, Khettarama"
4,4,Sri Lanka,Bangladesh,0.5,1,0,Colombo,"R.Premadasa Stadium, Khettarama"
...,...,...,...,...,...,...,...,...
122,964,India,New Zealand,19.3,1,0,Wellington,Westpac Stadium
123,964,India,New Zealand,19.4,1,0,Wellington,Westpac Stadium
124,964,India,New Zealand,19.5,2,0,Wellington,Westpac Stadium
125,964,India,New Zealand,19.6,1,0,Wellington,Westpac Stadium
126,964,India,New Zealand,19.7,1,0,Wellington,Westpac Stadium

In [29]:
pickle.dump(output,open('dataset_level2.pkl','wb'))