<a href="https://colab.research.google.com/github/codebuzer/Bioactivity-Prediction-App/blob/main/eda_2_csir_igib_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df1 = pd.read_csv("expmat.tsv", sep ='\t')

In [ ]:
df2 = pd.read_csv("metadata.tsv", sep = '\t')

In [ ]:
df2 = df2.iloc[:,1:]

In [ ]:
df2

     infection batch  agenum  ctnum
0            1     I    64.0  18.88
1            1     I    30.0  21.18
2            1     I    47.0  24.24
3            1     G    67.0  18.91
4            1     H    62.0  25.62
..         ...   ...     ...    ...
479          0     S    41.0    NaN
480          0     S    22.0    NaN
481          0     U    59.0    NaN
482          0     U    49.0    NaN
483          0     R    75.0    NaN

[484 rows x 4 columns]

In [ ]:
df_concat = pd.concat([df1, df2], axis=1)

In [ ]:
df_concat

,rowname,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V45,V46,V47,V48,V49,V50,infection,batch,agenum,ctnum
0,GSM4602241,0.290419,0.155136,-0.181369,-0.015744,0.039236,-0.146536,0.236752,-0.002832,0.240613,...,-0.201589,0.321952,0.075405,0.282020,-0.012067,0.172619,1,I,64.0,18.88
1,GSM4602242,0.033998,-0.073510,-0.024664,-0.020609,-0.070523,-0.111419,0.034210,-0.035007,-0.056222,...,0.071041,0.121803,-0.043223,0.010535,0.080000,0.242266,1,I,30.0,21.18
2,GSM4602243,-0.439669,-0.229209,-0.245936,0.268637,0.014308,-0.087299,-0.150903,0.096379,0.362553,...,0.012495,0.071520,0.115458,-0.091159,-0.108541,0.340207,1,I,47.0,24.24
3,GSM4602244,-0.151441,-0.187122,-0.383706,-0.242257,-0.217275,-0.420945,-0.012780,-0.343916,-0.000867,...,-0.105786,0.106484,0.038990,0.006374,0.180696,0.343715,1,G,67.0,18.91
4,GSM4602245,0.330232,0.045676,-0.122178,-0.001248,0.065784,-0.180799,0.192823,-0.050893,-0.195102,...,-0.018763,0.063081,-0.149442,0.075480,0.266766,0.084533,1,H,62.0,25.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479,GSM4602721,0.048350,0.203425,0.292148,-0.066557,0.333795,0.169132,-0.360702,0.233100,-0.189518,...,0.155953,-0.395584,-0.110981,-0.236437,0.126046,-0.117055,0,S,41.0,NaN
480,GSM4602722,0.019730,0.113175,0.131340,0.304732,0.461142,0.259164,-0.164739,0.465003,0.397407,...,0.372802,0.180680,-0.249412,-0.209629,-0.312979,-0.298504,0,S,22.0,NaN
481,GSM4602723,-0.183947,0.139277,0.083529,0.105502,0.366155,0.324141,-0.419905,0.380580,-0.055077,...,0.382163,-0.526263,-0.123163,-0.409042,-0.118416,-0.223350,0,U,59.0,NaN
482,GSM4602724,0.195342,-0.092915,-0.058966,-0.243610,-0.122261,-0.072730,0.022921,0.028437,-0.287779,...,-0.026807,-0.076272,0.067264,0.210527,0.060620,0.177384,0,U,49.0,NaN
483,GSM4602725,-0.253828,-0.054208,-0.094667,-0.186982,-0.383879,-0.169531,-0.266575,-0.225802,-0.179972,...,0.098722,-0.320387,0.208953,-0.243485,0.006272,-0.064400,0,R,75.0,NaN

In [ ]:
y = df_concat['infection']

In [ ]:
X = df_concat.drop(['infection'], axis=1)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = 0.25,random_state=42, shuffle = True)

In [ ]:
y_test.value_counts()

1    104
0     17
Name: infection, dtype: int64

In [ ]:
y_train.value_counts()

1    326
0     37
Name: infection, dtype: int64

In [ ]:
X_train.describe()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V43,V44,V45,V46,V47,V48,V49,V50,agenum,ctnum
count,363.000000,363.000000,363.000000,363.000000,363.000000,363.000000,363.000000,363.000000,363.000000,363.000000,...,363.000000,363.000000,363.000000,363.000000,363.000000,363.000000,363.000000,363.000000,330.000000,314.000000
mean,-0.049593,-0.033994,-0.031281,-0.046495,-0.033435,-0.043426,-0.031224,-0.039428,-0.038843,-0.035525,...,-0.032524,-0.015729,-0.025742,-0.029293,0.026471,-0.014447,0.038311,0.064893,53.090909,21.137716
std,0.305039,0.152918,0.165474,0.206306,0.181464,0.245096,0.248040,0.166195,0.189023,0.181639,...,0.164567,0.121950,0.152669,0.242146,0.116006,0.162067,0.150497,0.209752,18.678310,3.401809
min,-0.606312,-0.378928,-0.436006,-0.518826,-0.391794,-0.595545,-0.550128,-0.441418,-0.452400,-0.466564,...,-0.406018,-0.297569,-0.352669,-0.530345,-0.346737,-0.409042,-0.312979,-0.442626,2.000000,13.129900
25%,-0.297873,-0.139883,-0.151032,-0.192556,-0.179872,-0.234269,-0.228532,-0.160260,-0.177091,-0.160518,...,-0.159128,-0.098749,-0.137482,-0.219387,-0.063120,-0.139954,-0.069642,-0.095838,39.000000,18.682500
50%,-0.091043,-0.033554,-0.023823,-0.013966,-0.036692,-0.029015,-0.052287,-0.055768,-0.055077,-0.026164,...,-0.039508,-0.020507,-0.033890,-0.035068,0.025661,-0.020105,0.033759,0.101788,53.000000,21.035000
75%,0.178698,0.072746,0.086778,0.087972,0.079632,0.135943,0.152422,0.063238,0.069230,0.087820,...,0.098949,0.063749,0.081114,0.174346,0.120665,0.110986,0.154470,0.234780,68.500000,23.800000
max,0.675767,0.389959,0.389371,0.503813,0.537385,0.520400,0.558446,0.465003,0.588461,0.376111,...,0.367355,0.303012,0.382163,0.513978,0.307348,0.387050,0.343749,0.478349,89.000000,30.540000

In [ ]:
updated_df = X_train
updated_df['ctnum']=updated_df['ctnum'].fillna(updated_df['ctnum'].mean())
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 363 entries, 397 to 102
Data columns (total 54 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   rowname  363 non-null    object
 1   V1       363 non-null    float64
 2   V2       363 non-null    float64
 3   V3       363 non-null    float64
 4   V4       363 non-null    float64
 5   V5       363 non-null    float64
 6   V6       363 non-null    float64
 7   V7       363 non-null    float64
 8   V8       363 non-null    float64
 9   V9       363 non-null    float64
 10  V10      363 non-null    float64
 11  V11      363 non-null    float64
 12  V12      363 non-null    float64
 13  V13      363 non-null    float64
 14  V14      363 non-null    float64
 15  V15      363 non-null    float64
 16  V16      363 non-null    float64
 17  V17      363 non-null    float64
 18  V18      363 non-null    float64
 19  V19      363 non-null    float64
 20  V20      363 non-null    float64
 21  V21      363 non-null    float64
 22  V22      363 non-null    float64
 23  V23      363 non-null    float64
 24  V24      363 non-null    float64
 25  V25      363 non-null    float64
 26  V26      363 non-null    float64
 27  V27      363 non-null    float64
 28  V28      363 non-null    float64
 29  V29      363 non-null    float64
 30  V30      363 non-null    float64
 31  V31      363 non-null    float64
 32  V32      363 non-null    float64
 33  V33      363 non-null    float64
 34  V34      363 non-null    float64
 35  V35      363 non-null    float64
 36  V36      363 non-null    float64
 37  V37      363 non-null    float64
 38  V38      363 non-null    float64
 39  V39      363 non-null    float64
 40  V40      363 non-null    float64
 41  V41      363 non-null    float64
 42  V42      363 non-null    float64
 43  V43      363 non-null    float64
 44  V44      363 non-null    float64
 45  V45      363 non-null    float64
 46  V46      363 non-null    float64
 47  V47      363 non-null    float64
 48  V48      363 non-null    float64
 49  V49      363 non-null    float64
 50  V50      363 non-null    float64
 51  batch    363 non-null    object
 52  agenum   330 non-null    float64
 53  ctnum    363 non-null    float64
dtypes: float64(52), object(2)
memory usage: 156.0+ KB

In [ ]:
import sys
print(sys.getrecursionlimit())

3000

In [ ]:
X_train = updated_df
X_train['agenum']=X_train['agenum'].fillna(X_train['agenum'].mean())
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 363 entries, 397 to 102
Data columns (total 54 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   rowname  363 non-null    object
 1   V1       363 non-null    float64
 2   V2       363 non-null    float64
 3   V3       363 non-null    float64
 4   V4       363 non-null    float64
 5   V5       363 non-null    float64
 6   V6       363 non-null    float64
 7   V7       363 non-null    float64
 8   V8       363 non-null    float64
 9   V9       363 non-null    float64
 10  V10      363 non-null    float64
 11  V11      363 non-null    float64
 12  V12      363 non-null    float64
 13  V13      363 non-null    float64
 14  V14      363 non-null    float64
 15  V15      363 non-null    float64
 16  V16      363 non-null    float64
 17  V17      363 non-null    float64
 18  V18      363 non-null    float64
 19  V19      363 non-null    float64
 20  V20      363 non-null    float64
 21  V21      363 non-null    float64
 22  V22      363 non-null    float64
 23  V23      363 non-null    float64
 24  V24      363 non-null    float64
 25  V25      363 non-null    float64
 26  V26      363 non-null    float64
 27  V27      363 non-null    float64
 28  V28      363 non-null    float64
 29  V29      363 non-null    float64
 30  V30      363 non-null    float64
 31  V31      363 non-null    float64
 32  V32      363 non-null    float64
 33  V33      363 non-null    float64
 34  V34      363 non-null    float64
 35  V35      363 non-null    float64
 36  V36      363 non-null    float64
 37  V37      363 non-null    float64
 38  V38      363 non-null    float64
 39  V39      363 non-null    float64
 40  V40      363 non-null    float64
 41  V41      363 non-null    float64
 42  V42      363 non-null    float64
 43  V43      363 non-null    float64
 44  V44      363 non-null    float64
 45  V45      363 non-null    float64
 46  V46      363 non-null    float64
 47  V47      363 non-null    float64
 48  V48      363 non-null    float64
 49  V49      363 non-null    float64
 50  V50      363 non-null    float64
 51  batch    363 non-null    object
 52  agenum   363 non-null    float64
 53  ctnum    363 non-null    float64
dtypes: float64(52), object(2)
memory usage: 156.0+ KB

In [ ]:
X_train

,rowname,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V44,V45,V46,V47,V48,V49,V50,batch,agenum,ctnum
397,GSM4602639,-0.330218,0.010943,-0.210595,0.042186,0.239706,-0.086893,-0.154712,0.084187,-0.214529,...,-0.065396,0.001392,-0.151642,-0.004632,-0.146563,0.013029,-0.131632,L,50.0,22.810000
57,GSM4602298,0.426675,0.201063,-0.024022,-0.013352,0.077604,0.044928,0.296684,-0.264555,-0.149196,...,0.112702,0.000115,0.019317,-0.070527,0.053134,0.179474,0.139848,Q,62.0,19.350000
286,GSM4602527,-0.449942,-0.190835,0.044374,0.144829,-0.079280,-0.086654,-0.303872,-0.098651,0.259484,...,0.122401,0.079855,-0.198764,0.233642,-0.184023,-0.180516,-0.115021,D,72.0,21.340000
132,GSM4602373,-0.385247,-0.206050,-0.239616,-0.120262,-0.137117,-0.310101,-0.280388,-0.231672,-0.151738,...,0.007655,-0.186151,-0.235243,-0.019517,-0.233459,0.179042,0.272707,N,30.0,25.360000
406,GSM4602648,0.008941,-0.073164,-0.227340,-0.243443,-0.297489,-0.101534,0.102413,-0.061237,-0.281460,...,-0.066818,-0.118973,0.001721,0.051858,-0.027145,0.207186,0.133435,M,35.0,24.410000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,GSM4602347,-0.178225,0.033551,0.130311,0.309763,0.053018,0.246189,-0.223009,0.235498,0.124811,...,0.074465,0.215201,-0.184073,-0.171686,-0.212670,-0.155635,-0.331231,B,43.0,21.310000
270,GSM4602511,-0.084461,-0.050759,-0.028248,0.007801,0.076674,-0.079665,-0.131783,-0.160692,0.128844,...,-0.094135,-0.144893,-0.065863,0.067659,-0.011506,0.059641,0.147339,P,53.0,21.290000
348,GSM4602589,0.001382,0.137369,0.023774,-0.089512,0.381360,-0.220417,0.073235,0.064732,-0.116873,...,-0.203730,-0.015009,0.332833,-0.102154,0.273732,0.103474,0.189055,A,74.0,24.130000
435,GSM4602677,-0.065488,-0.064513,-0.098331,0.007988,-0.174017,0.171827,-0.113032,-0.179929,0.130941,...,-0.056651,-0.098772,0.154636,0.063614,0.005067,-0.164977,-0.410573,R,45.0,21.137716
102,GSM4602343,0.517276,0.207840,0.254931,0.265622,0.187722,0.370110,0.411406,-0.015056,-0.031296,...,-0.063042,-0.043496,0.110320,-0.050468,0.101743,-0.114681,-0.152266,B,54.0,19.180000

In [ ]:
 pd.get_dummies(X_train,columns = ['batch'], drop_first = True).shape

(2, 1)

In [ ]:
X_train

(363, 73)