<a href="https://colab.research.google.com/github/codebuzer/Bioactivity-Prediction-App/blob/main/handling_imbalance_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("/content/drive/MyDrive/igib_project1/final_train.csv", index_col = 0)

In [4]:
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,batch_N,batch_O,batch_P,batch_Q,batch_R,batch_S,batch_T,batch_U,ctnum_median_status,infection
397,-0.330218,0.010943,-0.210595,0.042186,0.239706,-0.086893,-0.154712,0.084187,-0.214529,-0.107121,...,0,0,0,0,0,0,0,0,0,1
57,0.426675,0.201063,-0.024022,-0.013352,0.077604,0.044928,0.296684,-0.264555,-0.149196,0.093459,...,0,0,0,1,0,0,0,0,0,1
286,-0.449942,-0.190835,0.044374,0.144829,-0.079280,-0.086654,-0.303872,-0.098651,0.259484,-0.207055,...,0,0,0,0,0,0,0,0,0,1
132,-0.385247,-0.206050,-0.239616,-0.120262,-0.137117,-0.310101,-0.280388,-0.231672,-0.151738,-0.266959,...,1,0,0,0,0,0,0,0,1,1
406,0.008941,-0.073164,-0.227340,-0.243443,-0.297489,-0.101534,0.102413,-0.061237,-0.281460,-0.125080,...,0,0,0,0,0,0,0,0,1,1

In [5]:
df.columns

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21',
       'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31',
       'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41',
       'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50',
       'agenum_random', 'ctnum_random', 'batch_A', 'batch_B', 'batch_C',
       'batch_D', 'batch_E', 'batch_F', 'batch_G', 'batch_H', 'batch_I',
       'batch_J', 'batch_K', 'batch_L', 'batch_M', 'batch_N', 'batch_O',
       'batch_P', 'batch_Q', 'batch_R', 'batch_S', 'batch_T', 'batch_U',
       'ctnum_median_status', 'infection'],
      dtype='object')

The big issue here is that our dataset is imbalanced so we use oversampling technique to handle our imbalanced dataset by using a method called SMOTE

In [6]:
!pip install imbalanced-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.7/dist-packages (0.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.21.6)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.2.0)
Requirement already satisfied: scikit-learn>=0.24 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.24->imbalanced-learn) (3.1.0)

In [7]:
# check version number
import imblearn
print(imblearn.__version__)

0.8.1

In [11]:
df.shape

(363, 75)

In [27]:
X = df.iloc[:,0:74]
X.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,batch_M,batch_N,batch_O,batch_P,batch_Q,batch_R,batch_S,batch_T,batch_U,ctnum_median_status
397,-0.330218,0.010943,-0.210595,0.042186,0.239706,-0.086893,-0.154712,0.084187,-0.214529,-0.107121,...,0,0,0,0,0,0,0,0,0,0
57,0.426675,0.201063,-0.024022,-0.013352,0.077604,0.044928,0.296684,-0.264555,-0.149196,0.093459,...,0,0,0,0,1,0,0,0,0,0
286,-0.449942,-0.190835,0.044374,0.144829,-0.079280,-0.086654,-0.303872,-0.098651,0.259484,-0.207055,...,0,0,0,0,0,0,0,0,0,0
132,-0.385247,-0.206050,-0.239616,-0.120262,-0.137117,-0.310101,-0.280388,-0.231672,-0.151738,-0.266959,...,0,1,0,0,0,0,0,0,0,1
406,0.008941,-0.073164,-0.227340,-0.243443,-0.297489,-0.101534,0.102413,-0.061237,-0.281460,-0.125080,...,1,0,0,0,0,0,0,0,0,1

In [28]:
y = df.iloc[:,-1]
y.head()

397    1
57     1
286    1
132    1
406    1
Name: infection, dtype: int64

In [29]:
from collections import Counter
# summarize class distribution
counter = Counter(y)
print(counter)

Counter({1: 326, 0: 37})

In [30]:
from imblearn.over_sampling import SMOTE
# transform the dataset
oversample = SMOTE()
X, y = oversample.fit_resample(X, y)

In [31]:
X.shape,y.shape

((652, 74), (652,))

In [32]:
from collections import Counter
# summarize class distribution
counter = Counter(y)
print(counter)

Counter({1: 326, 0: 326})

In [33]:
X

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,batch_M,batch_N,batch_O,batch_P,batch_Q,batch_R,batch_S,batch_T,batch_U,ctnum_median_status
0,-0.330218,0.010943,-0.210595,0.042186,0.239706,-0.086893,-0.154712,0.084187,-0.214529,-0.107121,...,0,0,0,0,0,0,0,0,0,0
1,0.426675,0.201063,-0.024022,-0.013352,0.077604,0.044928,0.296684,-0.264555,-0.149196,0.093459,...,0,0,0,0,1,0,0,0,0,0
2,-0.449942,-0.190835,0.044374,0.144829,-0.079280,-0.086654,-0.303872,-0.098651,0.259484,-0.207055,...,0,0,0,0,0,0,0,0,0,0
3,-0.385247,-0.206050,-0.239616,-0.120262,-0.137117,-0.310101,-0.280388,-0.231672,-0.151738,-0.266959,...,0,1,0,0,0,0,0,0,0,1
4,0.008941,-0.073164,-0.227340,-0.243443,-0.297489,-0.101534,0.102413,-0.061237,-0.281460,-0.125080,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647,0.024144,-0.073323,-0.003174,-0.149865,-0.012262,-0.082948,-0.072346,0.105595,-0.213861,0.061094,...,0,0,0,0,0,0,0,0,0,1
648,-0.228229,0.120450,0.153928,0.086306,0.171875,0.247842,-0.353827,0.389145,-0.071815,0.080566,...,0,0,0,0,0,0,0,0,1,0
649,-0.158364,0.016343,0.013487,-0.192088,-0.118851,-0.110953,-0.253042,-0.056845,-0.152760,-0.191012,...,0,0,0,0,0,0,0,0,0,0
650,-0.228700,-0.007371,0.045645,-0.092429,0.119936,-0.078552,-0.331536,0.114182,-0.164232,-0.121419,...,0,0,0,0,0,0,0,0,0,0
651,-0.010729,0.040829,0.247032,-0.058383,0.311258,0.047817,-0.265167,0.102193,-0.286828,0.031459,...,0,0,0,0,0,0,1,0,0,0

In [34]:
df = pd.concat([X,y], axis =1)

In [35]:
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,batch_N,batch_O,batch_P,batch_Q,batch_R,batch_S,batch_T,batch_U,ctnum_median_status,infection
0,-0.330218,0.010943,-0.210595,0.042186,0.239706,-0.086893,-0.154712,0.084187,-0.214529,-0.107121,...,0,0,0,0,0,0,0,0,0,1
1,0.426675,0.201063,-0.024022,-0.013352,0.077604,0.044928,0.296684,-0.264555,-0.149196,0.093459,...,0,0,0,1,0,0,0,0,0,1
2,-0.449942,-0.190835,0.044374,0.144829,-0.079280,-0.086654,-0.303872,-0.098651,0.259484,-0.207055,...,0,0,0,0,0,0,0,0,0,1
3,-0.385247,-0.206050,-0.239616,-0.120262,-0.137117,-0.310101,-0.280388,-0.231672,-0.151738,-0.266959,...,1,0,0,0,0,0,0,0,1,1
4,0.008941,-0.073164,-0.227340,-0.243443,-0.297489,-0.101534,0.102413,-0.061237,-0.281460,-0.125080,...,0,0,0,0,0,0,0,0,1,1

In [36]:
df.shape

(652, 75)

In [37]:
df.to_csv("final_train_data.csv")

In [40]:
df = pd.read_csv("final_train_data.csv", index_col = 0)

In [43]:
df['infection'].value_counts()

1    326
0    326
Name: infection, dtype: int64