<a href="https://colab.research.google.com/github/codebuzer/Bioactivity-Prediction-App/blob/main/peptide.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
def fasta2csv(filename):
    with open(filename, 'r') as f:
        content = f.read()
        
    lines = content.splitlines()

    IDs = []
    for i in range(len(lines)):
        if lines[i].startswith('>T'):
            ID = lines[i][1:].strip()
            IDs.append(ID)
    id_ = pd.DataFrame({'ID': IDs})
    seqs = []
    for i in range(1, len(lines), 2):
        seqs.append(lines[i])
    seq = pd.DataFrame({'sequence': seqs})
    df = pd.concat([id_, seq], axis = 1)
    df['length'] = df['sequence'].apply(lambda x : len(x))
        
    return df

In [4]:
df_anti_neg = fasta2csv('/content/drive/MyDrive/Hope InshaAllah_Peptides_interleukin/PAKKA_ANTI_NEG.fasta')

In [6]:
df_anti_pos = fasta2csv('/content/drive/MyDrive/Hope InshaAllah_Peptides_interleukin/PAKKA_ANTI_POS.fasta')

In [8]:
df_pro_neg = fasta2csv('/content/drive/MyDrive/Hope InshaAllah_Peptides_interleukin/PAKKA_PRO_NEG.fasta')

In [10]:
df_pro_pos = fasta2csv('/content/drive/MyDrive/Hope InshaAllah_Peptides_interleukin/PAKKA_PRO_POS.fasta')

In [13]:
df_pro_neg = df_pro_neg.dropna()

In [15]:
df = pd.concat([df_anti_neg,df_anti_pos,df_pro_neg,df_pro_pos])

In [16]:
df.head()

          ID              sequence  length
0   T1_Neg_3      AAASAIQGNVTSIHSL      16
1  T1_Neg_38  AGDGPPLCSQNLGAPGGGPD      20
2  T1_Neg_41  AGMVTTSTTLAWGLLLMILH      20
3  T1_Neg_46            AIGGGKLPAL      10
4  T1_Neg_70  ALWNLHGQALFLGIVLFIFG      20

In [20]:
df['target'] = df['ID'].apply(lambda x: x.split('_')[0])

In [21]:
df.head()

          ID              sequence  length target
0   T1_Neg_3      AAASAIQGNVTSIHSL      16     T1
1  T1_Neg_38  AGDGPPLCSQNLGAPGGGPD      20     T1
2  T1_Neg_41  AGMVTTSTTLAWGLLLMILH      20     T1
3  T1_Neg_46            AIGGGKLPAL      10     T1
4  T1_Neg_70  ALWNLHGQALFLGIVLFIFG      20     T1

In [17]:
df.shape

(26642, 3)

In [18]:
df.isnull().sum()

ID          0
sequence    0
length      0
dtype: int64

In [19]:
from sklearn.model_selection import train_test_split

In [31]:
X = df['sequence']
y = df['target']

In [33]:
X = pd.DataFrame(X)
y = pd.DataFrame(y)

In [34]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size = 0.15, random_state = 42, shuffle = True)

In [35]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((22645, 1), (3997, 1), (22645, 1), (3997, 1))

In [39]:
y_test.value_counts()

target
T4        1594
T5        1330
T16        439
T7         161
T2         139
T1          84
T8          77
T6          68
T11         51
T13         35
T10         12
T14          7
dtype: int64

In [41]:
def getKmers(X, size=6):
    return [X[x:x+size].lower() for x in range(len(X) - size + 1)]
    #create a list of k-mers
X_train['kmer'] = X_train.apply(lambda x: getKmers(x['sequence']), axis=1)
X_train = X_train.drop('sequence', axis=1) 
X_train = X_train['kmer'].apply(' '.join)

In [50]:
y_train = pd.get_dummies(y_train)

In [52]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [53]:

!pip install gensim

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gensim in /usr/local/lib/python3.9/dist-packages (4.3.1)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from gensim) (1.22.4)
Requirement already satisfied: scipy>=1.7.0 in /usr/local/lib/python3.9/dist-packages (from gensim) (1.10.1)
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.9/dist-packages (from gensim) (6.3.0)

In [54]:

import gensim

In [ ]:

import nltk
nltk.download('punkt')