<a href="https://colab.research.google.com/github/codebuzer/Bioactivity-Prediction-App/blob/main/pysam_gene_wise_coverage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
#!pip install pysam

In [52]:
#import pysam

# Open the BAM file
#bam_file = "/content/drive/MyDrive/gene wise coverage/IGIB113050041V.bam"
#bam = pysam.AlignmentFile(bam_file, "rb")

In [54]:
# Load the GTF file using pybedtools
#from pybedtools import BedTool
#genes = BedTool(gtf_file)

In [53]:
#import subprocess

#bam_file = "/content/drive/MyDrive/gene wise coverage/IGIB113050041V.bam"

# Create the index using samtools
#subprocess.run(["samtools", "index", bam_file])

In [15]:
#!apt-get install samtools

In [21]:
#result_df.to_csv('fetch_coverage.csv', index=False)

In [61]:
import subprocess
import pysam
from pybedtools import BedTool
import pandas as pd

def calculate_gene_coverage(bam_file, gtf_file):
    subprocess.run(["samtools", "index", bam_file])
    bam = pysam.AlignmentFile(bam_file, "rb")
    genes = BedTool(gtf_file)
    coverage_data = []
    for gene in genes:
        chrom = gene.chrom
        start = gene.start
        end = gene.end
        coverage = bam.count_coverage(chrom, start, end)
        gene_coverage = sum(coverage[0])
        gene_name = gene.name
        coverage_data.append((gene_name, gene_coverage))
    df = pd.DataFrame(coverage_data, columns=['Gene', 'Coverage'])
    bam.close()

    return df

In [35]:
bam_file = "/content/drive/MyDrive/gene wise coverage/IGIB113050041V.bam"
gtf_file = "/content/drive/MyDrive/gene wise coverage/Homo_sapiens.GRCh38.106.gtf"

result_df = calculate_gene_coverage(bam_file, gtf_file)

In [41]:
result_df.to_csv('count_coverage.csv')

In [40]:
result_df

                    Gene  Coverage
0                TNFRSF4        33
1                TNFRSF4        33
2                TNFRSF4         0
3                TNFRSF4         0
4                TNFRSF4         0
...                  ...       ...
3279400  ENST00000612315         0
3279401  ENST00000612315        17
3279402               U1       245
3279403               U1       245
3279404               U1       245

[3279405 rows x 2 columns]

In [37]:
#coverage = bam.count_coverage('2', 800, 9000)

In [38]:
#coverage

In [42]:
grouped_df = result_df.groupby('Gene')['Coverage'].sum().reset_index()

                 Gene  Coverage
0             5S_rRNA        96
1           5_8S_rRNA      3966
2                 7SK    786453
3                A1BG      1210
4            A1BG-AS1      1068
...               ...       ...
91784            ZZZ3     41427
91785    hsa-mir-1253        69
91786     hsa-mir-423         0
91787  hsa-mir-8069-1         0
91788         snoZ196         0

[91789 rows x 2 columns]

In [46]:
grouped_df[grouped_df['Gene'] == 'TNFRSF4']

          Gene  Coverage
88250  TNFRSF4       138

In [56]:
#grouped_df.to_csv('count_coverage_IGIB113050041V.csv')

In [48]:
grouped_df

                 Gene  Coverage
0             5S_rRNA        96
1           5_8S_rRNA      3966
2                 7SK    786453
3                A1BG      1210
4            A1BG-AS1      1068
...               ...       ...
91784            ZZZ3     41427
91785    hsa-mir-1253        69
91786     hsa-mir-423         0
91787  hsa-mir-8069-1         0
91788         snoZ196         0

[91789 rows x 2 columns]

In [59]:
grouped_df[grouped_df['Coverage'] == 0]

                 Gene  Coverage
34            AARS1P1         0
37           AARSD1P1         0
64           ABCB10P1         0
102           ABCF2P2         0
122           ABHD16B         0
...               ...       ...
91775            ZXDA         0
91779        ZYG11AP1         0
91786     hsa-mir-423         0
91787  hsa-mir-8069-1         0
91788         snoZ196         0

[29778 rows x 2 columns]